<launch>
  <arg name="pkg" value="olelidar"/>

  <arg name="frame_id" default="olelidar"/>
  <arg name="r_max" default="50"/>
  <arg name="ang_start" default="0"/>
  <arg name="ang_end" default="360"/>
  <arg name="inverted" default="false"/>
  <arg name="poly" default="1"/>
  <arg name="rpm" default="900"/>
  <node pkg="$(arg pkg)" type="$(arg pkg)_decoder" name="$(arg pkg)_decoder" output="screen">
    <param name="frame_id" type="string" value="$(arg frame_id)"/>
    <param name="r_max" type="int" value="$(arg r_max)"/>
    <param name="ang_start" type="int" value="$(arg ang_start)"/>
    <param name="ang_end" type="int" value="$(arg ang_end)"/>
    <param name="inverted" type="bool" value="$(arg inverted)"/>
    <param name="poly" type="int" value="$(arg poly)"/>
    <param name="rpm" type="string" value="$(arg rpm)"/>
    <remap from="~packet" to="packet"/>
    <remap from="~scan" to="scan"/>

  </node>

</launch>
