<launch>
  <arg name="pkg" value="olelidar"/>

  <!-- driver -->
  <arg name="driver" default="true"/>
  <arg name="device_ip" default="192.168.1.100"/>
  <arg name="device_port" default="2368"/>
  <arg name="local_ip" default="192.168.1.10"/>
  <arg name="multiaddr" default=""/>
  <arg name="rpm" default="900"/>
  
  <!-- decoder -->
  <arg name="frame_id" default="olelaser_base"/>
  <arg name="range_min" default="0.1"/>
  <arg name="range_max" default="50"/>
  <arg name="ang_start" default="-180"/>
  <arg name="ang_end" default="180"/>
  <arg name="decoder" default="true"/>
  <arg name="inverted" default="false"/>
  <arg name="timeFromLidar" default="true"/>

  <node pkg="$(arg pkg)" type="$(arg pkg)_decoder" name="$(arg pkg)_decoder" output="screen">
    <param name="frame_id" type="string" value="$(arg frame_id)"/>
    <param name="range_min" type="double" value="$(arg range_min)"/>
    <param name="range_max" type="double" value="$(arg range_max)"/>
    <param name="ang_start" type="int" value="$(arg ang_start)"/>
    <param name="ang_end" type="int" value="$(arg ang_end)"/>
    <param name="inverted" type="bool" value="$(arg inverted)"/>
    <param name="timeFromLidar" type="bool" value="$(arg timeFromLidar)"/>
    <remap from="~packet" to="packet"/>
    <remap from="~scan" to="/olelidar/scan"/>

    <param name="device_ip" type="string" value="$(arg device_ip)"/>
    <param name="device_port" type="int" value="$(arg device_port)"/>
    <param name="local_ip" type="string" value="$(arg local_ip)"/>
    <param name="multiaddr" type="string" value="$(arg multiaddr)"/>
    <param name="rpm" type="string" value="$(arg rpm)"/>

  </node>

</launch>
